{% extends "challenge_weekbier/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h2>Check-ins</h2>
{% endblock page_header %}

{% block content %}
  <form method="GET" action="{% url 'challenge_weekbier:checkins' %}">
    {{ form.as_p }}
    <button type="submit">Filter</button>
  </form>

  <table class="checkins-table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Naam</th>
        <th>Etablissement</th>
        <th>Plaats</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for checkin in checkins %}
        <tr>
          <td>{{ checkin.date }}</td>
          <td>{{ checkin.player }}</td>
          <td>{{ checkin.place }}</td>
          <td>{{ checkin.city }}</td>
          <td>{{ checkin.status.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}