{% extends "challenge_weekbier/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h2>Stand</h2>
{% endblock page_header %}

{% block content %}
  <table class="player-scores-table">
    <thead>
      <tr>
        <th>Naam</th>
        <th>Score</th>
        <th>Check-ins</th>
        <th>Weken gescoord</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
        <tr>
          <td>{{ player.name }}</td>
          <td>{{ player.num_weeks_scored }}</td>
          <td>{{ player.num_checkins }}</td>
          <td>{{ player.score }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}