{% load static tailwind_tags %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Challenge Weekbier</title>

  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>

  {% tailwind_css %}
</head>

<body>

  {% include "top_menu.html" %}

  <main class="container mx-auto p-4">
    <div class="pb-2 mb-2 border-b">
      {% block page_header %}{% endblock page_header %}
    </div>

    <div class="mt-4">
      {% block content %}{% endblock content %}
    </div>
  </main>

</body>
</html>